<% if current_user.role == 1 %>
  <%= render partial: "layouts/banner", layout: "layouts/banner" %>
  <br>

  <p id="notice" class ="big-notice"><%= notice %></p>

  <h1>Banners</h1>
  &emsp;|&emsp;<%= link_to 'New Banner', new_banner_path %>
  <br>
  <br>
  <table>
    <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td>&emsp;<%= image_tag(banner.image.url, :class=>'banner-image-index') %></td>
        <td>&emsp;<%= link_to banner.link, banner.link %>&emsp;|&emsp;</td>
        <td><%= link_to 'Edit', edit_banner_path(banner) %>&emsp;|&emsp;</td>
        <td><%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>


<% else %>
  YOU DON'T HAVE PERMISSION TO VIEW THIS PAGE
<% end %>