<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title %>
  <%= form.text_area :content, :class =>"tinymce", :rows => 40, :cols => 120 %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= tinymce %>

<script>
  // $('new_post_editor').froalaEditable(
  //     {
  //         inlineMode: false,
  //         minHeight: '400px',
  //         buttons:[
  //             'bold', 'italic', 'underline', 'formatBlock','align','insertUnorderedList',
  //             'insertOrderedList', 'outdent', 'indent','createLink','html'
  //         ],
  //     }
  // )
</script>

