<% content_for :title, "How To Artifact - News" %>

<div class='left_content'>
  <div class='left_content_title'>
    NEWS
  </div>

  <% if @news.count > 0 %>
    <% if @news.first_page? %>
      <div class="top_article_container">
        <div class="mas-item mas-big">
          <%= link_to @top_article do %>
            <%= image_tag(@news_image.where(post_id: @top_article.id).first.image.url, :class => "top_article_image image_responsive") %>
          <% end %>
          <div class="mas-text">
            <div class="post-cat"><%= link_to(@top_article.category.category_name, categories_path(@top_article.category)) %>
              >
            </div>
            <h2 class="mas-title"><%= link_to(@top_article.title, @top_article) %></h2>
            <div class="mas-details">
              <p><%= @top_article.snippet %></p>
              <%= link_to("Read More ⇾", @top_article, :class => "read-more") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class='news_list_container'>
      <% @news.each do |article| %>
        <div class='news_cell_container'>
          <div class='news_cell'>
            <%= link_to article do %>
              <div class='news_cell_image_container'>
                <div class='hover_zoom_in'>
                  <figure>
                    <%= @news_image.where(post_id: article.id).exists? ?
                            image_tag(@news_image.where(post_id: article.id).first.image.url, :class => 'news_cell_image')
                            : image_tag('no_image.png', :class => 'news_cell_image')
                    %>
                  </figure>
                </div>
            <% end %>
            </div>

            <div class='news_cell_content_container'>

              <div class='news_cell_title_background'>
              </div>
              <%= link_to article do %>
                <div class='news_cell_title'>
                  <div class='news_cell_title_scroll_text'>
                    <%= article.title %>
                  </div>
                </div>
              <% end %>

              <div class='news_cell_author_container'>
                <div class='top_post_time'>
                  <%= article.created_at.strftime("%F") + ' | ' %>
                </div>
                <%= link_to user_path(article.user_id), method: :get do %>
                  <div class='top_post_author'>
                    <%= @author.where(id: article.user_id).first.nickname.blank? ?
                            @author.where(id: article.user_id).first.email : @author.where(id: article.user_id).first.nickname
                    %>
                  </div>
                <% end %>
              </div>

              <div class='news_cell_snippet'>
                <%= article.snippet %>
              </div>
            </div>
          </div>
        </div>



      <% end %>
      <%= paginate @news %>
    </div>
  <% end %>

</div>

<%= render partial: "right_sidebar/right_sidebar", layout: "right_sidebar/right_sidebar" %>
