<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:title) %>
    <title><%= content_for(:title) %></title>
  <% else %>
    <title>How To Artifact</title>
  <% end %>

  <%= favicon_link_tag 'logo_small.png' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id = 'overlay' class = 'overlay'></div>
<%= render partial: "layouts/top_nav", layout: "layouts/top_nav" %>
<div class = 'page_content'>
  <div class = 'page_inner'>
    <%= yield %>
  </div>
</div>
</body>
</html>
